$decoLine : solid grey;

body{
	font-family: 'Lato', sans-serif;
	height: 100%;
    	background: lightgrey;
}
.wrapper{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	max-height: 80%;
}
.screen{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 7px $decoLine;
	border-radius: 5px;
	padding: 2% 5%;
	box-shadow: 3px 3px 15px black inset;
	background-color:white;

	div {
		background-color: transparent;
	}
}
.button{
	border:  1px $decoLine;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	display: block;
	width: 45%;
	text-align: center;
	padding: 10%;
	box-shadow: 3px 3px grey;
	margin-top: 5%;
	position:relative;//to be able to use animation like the button is press, we use position: relativa, top:0 and will change in button:active
	top:0;
}
.button:active{
	top:5px;
	box-shadow: 1px 1px grey;
}
.screen p {
		font-size: 1.3rem;
	}