.sectionInstructions{
	text-align:center;
	
	h1{
		border-bottom: 1px solid;
		padding-bottom: 5%;
	}
	h1,h2{
		font-family: 'Poppins', sans-serif;
		text-align: center;
		color: steelblue;
	}
	
	p{
		line-height: 1.6;
    		text-align: center;
    		padding: 7% 0;
    		
		
	}
}
.play{
	
    	background: blue;
	margin: 4vh auto;
}
