.sectionQuestions{
	display: flex;
	flex-direction: column;
	.questions{
		height: 30vh;
	    }
	.questions{
		margin-bottom: 20%;
		background-color: white
	}
	.textQuestion {
		font-size: 1.3rem;
	}
}
input[type=radio]{
	position: absolute;
	left: - 10000px;
}

.buttonChoice{
	display:flex;
	justify-content:space-between;
}
.true{
	background-color:green;
}
.false{
	background-color:red;
}