.sectionQuestions{
	display: flex;
	flex-direction: column;
	.questions{
		background-color: transparent;
		margin-top: 25px;
	    }
	.questions{
		margin-bottom: 20%;
	}

	.feedback {
		text-transform: uppercase;

	}
}
input[type=radio]{
	position: absolute;
	left: - 10000px;
}

.buttonChoice{
	display:flex;
	justify-content:space-between;
}
.true{
	background-color:green;
}
.false{
	background-color:red;
}