@media screen and (min-width:500px) {
<<<<<<< HEAD
 body {
   background-color: black
 }
 .wrapper {
   width: 75%;
   background-color: lightgrey;
   padding: 10%;
 }
 footer{
   position:relative;
 }

=======
  body {
    background-color: black
  }
  header{
    margin:0;
  }
  .wrapper {
    width: 75%;
    background-color: lightgrey;
    padding: 10%;
  }
  footer{
    position:relative;
  }
>>>>>>> 16a55438553c934aaee8837ae739926d64107a65

}
@media screen and (min-width: 900px){
 .wrapper{
   padding: 7%;
 }
}