@media screen and (min-width:500px) {
  body {
    background-color: black
  }
  header{
    margin:0;
  }
  .wrapper {
    width: 75%;
    background-color: lightgrey;
    padding: 10%;
  }
  footer{
    position:relative;
  }

}
@media screen and (min-width: 900px){
 .wrapper{
   padding: 7%;
 }
}